#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.instructions {
  position: absolute;
  z-index: 100;
  padding-left: 2em;
  padding-top: 1em;
  color: black;
}

#enter {
}

#exit {
  display: none;
}
