#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#outOfFocus {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.6);
}

.instructions {
  color: white;
  font-size: 2em;
}

#crossHair {
  pointer-events: none;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.pointer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3em;
  font-weight: 100;
}

#loadingScreen {
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: #77cacf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loadingBox {
  background-color: #77cacf;
  width: 15em;
  height: 3em;
  border: solid white;
  box-sizing: border-box;
  padding: 0.5em;
}

#loadingLabel {
  font-size: 2em;
  margin: 0.5em;
  color: white;
}

#loadingProgress {
  width: 0%;
  height: 100%;
  background-color: white;
}

#gui {
  position: absolute;
  display: none;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  z-index: 2;
}

.buttonsContainer {
  display: flex;
}

.stopButtons {
  border: solid transparent;
  font-weight: 600;
  padding: 0.8em;
  margin-top: 1em;
  margin-right: 1em;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

.current {
  border: solid black;
  color: black;
}

.target {
  border: solid rgb(64, 255, 0);
  color: rgb(64, 255, 0);
}

.hovered {
  border: solid white;
  color: white;
}
