#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.instructions {
  position: absolute;
  z-index: 1;
  padding-left: 2em;
  padding-top: 1em;
  color: black;
}

.buttonsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  left: 1em;
}

.stopButtons {
  font-weight: 600;
  padding: 0.8em;
  margin-top: 1em;
  margin-left: 0.5em;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: rgba(0, 0, 0, 0.4);
}

.stopButtons:hover {
  color: black;
}

.selected {
  border: solid;
  border-color: white;
  color: white;
}

.selected:hover {
  color: white;
}

#exit {
  display: none;
}
